<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hoseAI</title>
</head>
<body>
    <h1> house price pridiction AI </h1>
    <br>
        <br>
    <br>
    <h3> A Project by spidey aidev</h3>
    <form method="post">
        <input type="number" name="area_sqft" placeholder="enter area in sqft">
        <input type="number" name="bathrooms" placeholder="enter number of bathrooms">
        <br>
        <input type="submit" value="submit">

    </form>
    <br>
    <h5> THANK YOU </h5>

</body>
</html>
